    :root {
--title-color: #2E2F42;
--text-color: #434455;
--accent-color: #404BBF;
--pressed-color: #4D5AE5;
--btn-background: #F4F4FD;
--background-color: #FFFFFF;
--headings-light: #E5E5E5;
--text-footer-color: #E7E9FC;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: 
    var(--background-color);
    color: var(--title-color);
    
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--text-color);
}

.link:active{
    color: var(--pressed-color); ;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-color);
}

.text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}

.headings-light {
    background-color: 
    var(--headings-light);
}

/* ========HEADER=========== */

.logo {
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}
.logo-accent {
    color: var(--pressed-color);
}
.address {
    color: var(--text-color);
}
/* ========HEADER/=========== */

/* ========HERO=========== */
.hero {
    background-color:
    var(--title-color);
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);
}
/* ========HERO/=========== */

/* ========BUTTONS========== */
.btn-order{
    background: var(--pressed-color);
    color: var(--background-color);
    cursor: pointer;
}
.btn {
    background: var(--btn-background);
    color: var(--pressed-color);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.btn:hover,
.btn:focus {
    background-color: 
    var(--pressed-color);
    color: var(--background-color);
}
.btn:active{
    background-color: 
    var(--accent-color);
    color: var(--background-color);
}
/* ========BUTTONS/======== */
/* ==========TEAM========== */
.team {
    background-color: 
    var(--btn-background);
}
/* ==========TEAM========== */
/* ==========FOOTER========== */
.footer {
    background-color: 
    var(--title-color);
}
.footer-text {
    color: var(--text-footer-color);
}
/* ==========FOOTER/========= */