    :root {
--title-color: #2E2F42;
--text-color: #434455;
--accent-color: #404BBF;
--pressed-color: #4D5AE5;
--btn-background: #F4F4FD;
--background-color: #FFFFFF;
--headings-light: #E5E5E5;
--text-footer-color: #E7E9FC;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: 
    var(--background-color);
    color: var(--title-color);
    
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-family: inherit;
    color: var(--title-color);
}


.link:hover,
.link:focus {
    color: var(--text-color);
}

.link:active{
    color: var(--pressed-color); ;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-color);
}

.text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}

.headings-light {
    background-color: 
    var(--background-color);
}

/* ========HEADER=========== */

.logo {
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}
.logo-accent {
    color: var(--pressed-color);
}
.address {
    font-style: normal;
    color: var(--text-color);
}
/* ========HEADER/=========== */

/* ========HERO=========== */
.hero {
    background-color:
    var(--title-color);
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);
}
/* ========HERO/=========== */

/* ========BUTTONS========== */
.btn-order {
    font-family: inherit;
    background: var(--pressed-color);
    color: var(--background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.btn-filter {
    font-family: inherit;
    background: var(--btn-background);
    color: var(--pressed-color);
    cursor: pointer;
    border: 1px solid 
    var(--text-footer-color);
    border-radius: 4px;
}
.btn-filter:hover,
.btn-filter:focus,
.btn-order:hover,
.btn-order:focus {
    background-color: 
    var(--pressed-color);
    color: var(--background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}
.btn:active{
    background-color: 
    var(--accent-color);
    color: var(--background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* ========BUTTONS/======== */

/* ==========TEAM========== */
.team {
    background-color: 
    var(--btn-background);
}
.team-card {
    background-color: 
    var(--background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
/* ==========TEAM/========== */

/* ======OPPORTUNITIES====== */
.project-card {
    background-color: 
    var(--background-color);
    border: 1px solid #E7E9FC;
}
/* ======OPPORTUNITIES/====== */

/* ==========FOOTER========== */
.footer {
    background-color: 
    var(--title-color);
}
.logo-footer {
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--btn-background);
}
.footer-text {
    color: var(--text-footer-color);
}
/* ==========FOOTER/========= */